SPRING_PROFILES_ACTIVE=local
MARKET_DB_NAME=archive_market
MARKET_DB_USERNAME=archive_market
MARKET_DB_PASSWORD=archive_market
NEXUS_BASE_URL=http://host.docker.internal:8080
LEDGER_BASE_URL=http://host.docker.internal:18080
ARCHIVEOS_BASE_URL=http://host.docker.internal:5173
MARKET_INTEGRATION_ENABLED=false
MARKET_OUTBOX_SCHEDULER_ENABLED=false
